

 .div1{
    height: 100px;
    width: 100px;
    border: 2 px dashed rgb(219, 11, 46);
    margin: 10px 20px 30px 40px;
    /* background-color: aqua; */
} 
.flex{
    border:5px greenyellow solid;
    background-color: aquamarine;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding: 10px;
    margin: 100px;
    
}
.img {
    height: 200px;
    width: 300px;
    
} 